@import url('fonts/fonts.css');

$settings_margin: 1px solid rgba(255, 255, 255, .1);
$card_radius: 15px;
$card_shadow: 0 0 5px rgba(0, 0, 0, .3);
$favicon_size: 32px;
$btn_radius: 6px;
$btn_bg: rgba(255, 255, 255, .15);
$btn_bg_hover: rgba(255, 255, 255, .3);
$btn_size: 35px;

button, input {
    color: white;
}

body, html {
    font-family: NotoEmoji, "Red Hat Display", sans-serif;
    margin: 0;
    padding: 0;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background: #21222c;
    color: white;
}

#settings {
    z-index: 999;
    display: none;
    position: absolute;
    top: 50px;
    right: 10px;
    background: black;
    height: 300px;
    width: 300px;
    overflow: auto;
    flex-direction: column;
    padding: 6px;
    border-radius: $card_radius;
    box-shadow: $card_shadow;
    > div {
        padding: 12px;
        display: flex;
        flex-direction: row;
        align-items: center;
        input {
            flex-grow: 1;
            display: block;
            background: $btn_bg;
            border: none;
            border-radius: $btn_radius;
            padding: 6px;
            height: #{$btn-size - (6px * 2)};
        }
    }
    ul {
        flex-grow: 1;
        padding: 12px;
        margin: 0;
        li {
            display: flex;
            flex-direction: row;
            align-items: center;
            border-bottom: $settings_margin;
            &:last-child {
                border-bottom: none;
            }
            span {
                flex-grow: 1;
            }
            &::before {
                // nbsp
                content: '-\00a0';
                padding-left: 6px;
            }
        }
    }
    &.open {
        display: flex;
    }
    button {
        cursor: pointer;
        background: $btn_bg;
        border: none;
        border-radius: $btn_radius;
        width: 35px;
        height: 35px;
        transition: all .15s ease-in-out;
        margin: 6px;
        margin-right: 0;
        &:hover {
            background: $btn_bg_hover;
        }
    }
}

header {
    display: flex;
    flex-direction: row;
    &::before {
        content: '';
        flex-grow: 1;
    }
    button {
        opacity: .4;
        display: block;
        font-size: 30px;
        width: 35px;
        height: 35px;
        background: none;
        border: none;
        border-radius: $btn_radius;
        background-color: rgba(255, 255, 255, 0);
        margin: 6px;
        padding: 3px;
        transition: all .15s ease-in-out;
        cursor: pointer;
        &:hover {
            background-color: $btn_bg_hover;
            opacity: 1;
        }
        > * {
            display: block;
            margin: auto;
        }
    }
}

main {
    min-height: 100vh;
    padding-top: 50px;
    #grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(288px, 1fr));
        list-style-type: none;
        margin: auto;
        max-width: 1200px;
        padding: 10px;
        li {
            position: relative;
            background-color: #282a36dd;
            text-align: center;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1.2em;
            height: 158px;
            margin: 20px;
            margin-bottom: 35px;
            border-radius: $card_radius;
            box-shadow: $card_shadow;
            transition: all .15s ease-in-out;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            padding: 6px;
            &:hover {
                box-shadow: 0 0 15px rgba(0, 0, 0, .4);
                opacity: .50;
            }
            img {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                margin-right: 6px;
                height: $favicon_size;
                width:  $favicon_size;
            }
            span, &::after {
                position: relative;
                top: 100px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }
}
